<ion-header >
  
  <ion-toolbar>
  
    <img src="assets/img/Logo_rapp.png" class="ion-padding" class="imglogo">
  </ion-toolbar>
</ion-header>

<ion-content class="background" >

<div class="arriba10">

  <ion-button  routerLink="/inicio-sesion" expand="block" fill="solid" shape="round" class="ion-margin-top" color="primary">
    Iniciar Sesión
  </ion-button>

  <ion-button routerLink="/registro" expand="block" fill="solid" shape="round" class="ion-margin-top" color="primary">
    Registrate
  </ion-button>



  <ion-content>
  
