<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Atrás"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>MODELAMIENTO DE BASE DE DATOS</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>DISEÑO Y GESTION DE REQUISITOS</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>DESARROLLO APLICACIONES WEB </h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>PROGRAMACION DE APLICACIONES MÓVILES</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>CALIDAD DE SOFTWARE</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>NIVELACIÓN MATEMATICA</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item button>
    <ion-row>
      <ion-col size="8">
        <h5>MENTALIDAD EMPRENDEDORA</h5>
      </ion-col>
      <ion-col size="4">
        <h5 class="ion-text-right">100%</h5>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>
</ion-content>
