<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Atrás"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-list>
        <ion-item>
          <ion-select interface="action-sheet" placeholder="Jornada">
            <ion-select-option value="d">Diurno</ion-select-option>
            <ion-select-option value="v">vespertino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="6">
      <ion-list>
        <ion-item>
          <ion-select interface="action-sheet" placeholder="Sección">
            <ion-select-option >001D</ion-select-option>
            <ion-select-option >002D</ion-select-option>
            <ion-select-option >003D</ion-select-option>
            <ion-select-option >004V</ion-select-option>
            <ion-select-option >005V</ion-select-option>
            <ion-select-option >006V</ion-select-option>
            <ion-select-option >007V</ion-select-option>
            <ion-select-option >008V</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    
    
    <ion-col size="6">
      <ion-list>
        <ion-item>
          <ion-select interface="action-sheet" placeholder="Dia">
            <ion-select-option >1</ion-select-option>
            <ion-select-option >2</ion-select-option>
            <ion-select-option >3</ion-select-option>
            <ion-select-option >4</ion-select-option>
            <ion-select-option >5</ion-select-option>
            <ion-select-option >6</ion-select-option>
            <ion-select-option >7</ion-select-option>
            <ion-select-option >8</ion-select-option>
            <ion-select-option >9</ion-select-option>
            <ion-select-option >10</ion-select-option>
            <ion-select-option >11</ion-select-option>
            <ion-select-option >12</ion-select-option>
            <ion-select-option >13</ion-select-option>
            <ion-select-option >14</ion-select-option>
            <ion-select-option >15</ion-select-option>
            <ion-select-option >16</ion-select-option>
            <ion-select-option >17</ion-select-option>
            <ion-select-option >18</ion-select-option>
            <ion-select-option >19</ion-select-option>
            <ion-select-option >20</ion-select-option>
            <ion-select-option >21</ion-select-option>
            <ion-select-option >22</ion-select-option>
            <ion-select-option >23</ion-select-option>
            <ion-select-option >24</ion-select-option>
            <ion-select-option >25</ion-select-option>
            <ion-select-option >26</ion-select-option>
            <ion-select-option >27</ion-select-option>
            <ion-select-option >28</ion-select-option>
            <ion-select-option >29</ion-select-option>
            <ion-select-option >30</ion-select-option>
            <ion-select-option >31</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      </ion-col>
  
<ion-col size="6">
  <ion-list>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="Mes">
        <ion-select-option value="1">Enero</ion-select-option>
        <ion-select-option value="2">Febrero</ion-select-option>
        <ion-select-option value="3">Marzo</ion-select-option>
        <ion-select-option value="4">Abril</ion-select-option>
        <ion-select-option value="5">Mayo</ion-select-option>
        <ion-select-option value="6">Junio</ion-select-option>
        <ion-select-option value="7">Julio</ion-select-option>
        <ion-select-option value="8">Agosto</ion-select-option>
        <ion-select-option value="9">Septiembre</ion-select-option>
        <ion-select-option value="10">Octubre</ion-select-option>
        <ion-select-option value="11">Noviembre</ion-select-option>
        <ion-select-option value="12">Diciembre</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-col>
<ion-col size="12">
  <ion-list>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="Alumno">
        <ion-select-option >ALUMNO 1</ion-select-option>
        <ion-select-option >ALUMNO 2</ion-select-option>
        <ion-select-option >ALUMNO 3</ion-select-option>
        <ion-select-option >ALUMNO 4</ion-select-option>
        <ion-select-option >ALUMNO 5</ion-select-option>
        <ion-select-option >ALUMNO 6</ion-select-option>
        <ion-select-option >ALUMNO 7</ion-select-option>
        <ion-select-option >ALUMNO 8</ion-select-option>
        <ion-select-option >ALUMNO 9</ion-select-option>
        <ion-select-option >ALUMNO 10</ion-select-option>
        <ion-select-option >ALUMNO 11</ion-select-option>
        <ion-select-option >ALUMNO 12</ion-select-option>
        <ion-select-option >ALUMNO 13</ion-select-option>
        <ion-select-option >ALUMNO 14</ion-select-option>
        <ion-select-option >ALUMNO 15</ion-select-option>
        <ion-select-option >ALUMNO 16</ion-select-option>
        <ion-select-option >ALUMNO 17</ion-select-option>
        <ion-select-option >ALUMNO 18</ion-select-option>
        <ion-select-option >ALUMNO 19</ion-select-option>
        <ion-select-option >ALUMNO 20</ion-select-option>
        <ion-select-option >ALUMNO 21</ion-select-option>
        <ion-select-option >ALUMNO 22</ion-select-option>
        <ion-select-option >ALUMNO 23</ion-select-option>
        <ion-select-option >ALUMNO 24</ion-select-option>
        <ion-select-option >ALUMNO 25</ion-select-option>
        <ion-select-option >ALUMNO 26</ion-select-option>
        <ion-select-option >ALUMNO 27</ion-select-option>
        <ion-select-option >ALUMNO 28</ion-select-option>
        <ion-select-option >ALUMNO 29</ion-select-option>
        <ion-select-option >ALUMNO 30</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
  </ion-col>


</ion-row>

<ion-item>
  <ion-label>Actualizar a:</ion-label>
</ion-item>
<ion-row>
  <ion-col size="4">

    <ion-item>
      <ion-checkbox slot="start">Ausente</ion-checkbox>
        <ion-label></ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="4">

    <ion-item>
      <ion-checkbox slot="start">Ausente</ion-checkbox>
        <ion-label></ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="4">

    <ion-item>
      <ion-checkbox slot="start">Ausente</ion-checkbox>
        <ion-label></ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="4">

    <ion-item>
        <ion-label>Ausente</ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="4">

    <ion-item>
       <ion-label>Presente</ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="4">

    <ion-item>
      <ion-label>
        Justificado
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>
<div class="espacioBoton">
  <ion-button 
          type="submit" expand="block" routerLink="/docente" >
    Confirmar cambios
  </ion-button>
</div>

</ion-content>

