<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



    <div class="espacioTitulo">
      <img src="/assets/img/icono-validacion-hover.svg" class="espacioTitulo">
    </div>

      <div class="espacioLink" >
        <h2>!Tu contraseña ha sido modificada exitosamente!</h2>
        <label>Para acceder vuelve al <a routerLink="/inicio">Inicio</a>
        y accede con tu nueva contraseña
        </label>
      </div>
    

</ion-content>