.parrafo{
    color:azure;
    text-align: justify;
}

.titulo{
    color:aqua;
    text-align: center;
}

.subtitulo{
    color:beige;
    text-align: left;

}

.wifi{
    color:aquamarine;
}

.walk{
    color:aquamarine;
}

.warning{
    color:aquamarine;
}